SUPABASE_URL=https://yscfxleeyrlkqlfigbcl.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlzY2Z4bGVleXJsa3FsZmlnYmNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1MDA1NTcsImV4cCI6MjA5MjA3NjU1N30.NPBvPy3kZE-uMVfFg8jHAO1Kt9oTw-WYhUJUIt3PXMk
RAZORPAY_KEY_ID=rzp_test_SexSPREtTrYT02
RAZORPAY_KEY_SECRET=ClaFi5pb42bbZCQ0T12wfVnd
